<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel='stylesheet' href='styles/style.css'>
</head>
<body>

  <div class='all'>
    <img src="logo.png" width="70"><br><br>
    <h1><span>C E R T I F I C A T E &nbsp; O F &nbsp; A T T E N D A N C E</span></h1>

    <p class='brief'>This is to certify that</p>

    <h2 class='name'>James Florentino</h2>

    <p>attended <b>Manila.js Fridays 003</b>,
    the monthly Philippine JavaScript developer meetup
    on the 3rd of May, 2013
    at SourcePad offices,
    25 ADB Avenue, Suite 2701, Discovery Centre Building 
    Ortigas Center, Pasig City, Philippines.</p>

    <p class="signature">
      <img src="signature.png" width="140"><br>
      <strong class='name'>Rico Sta. Cruz</strong><br>
      <span class='title'>Lead organizer</span>
    </p>
  </div>
    
</body>
</html>
